<!--div class="container"-->
	<div class="row fhb-sidekick fhb-sidekick--ratio-{{#if source.ratio}}{{source.ratio}}{{else}}4x3{{/if}} fhb-sidekick--align-{{#if source.alignment}}{{source.alignment}}{{else}}right{{/if}}">
		{{#if source.imageUrl}}
			<img class="fhb-sidekick__image" src="{{source.imageUrl}}" alt="{{source.imageAlt}}" />
		{{/if}}
		<div class="fhb-sidekick__details fhb-sidekick__details--{{source.brandColor}}">
			{{#if source.heading}}
				<h3 class="fhb-sidekick__heading">{{source.heading}}</h3>
			{{/if}}
			{{#if source.body}}
				<div class="fhb-sidekick__body">
					{{{source.body}}}
				</div>
			{{/if}}
			{{#if source.actionUrl}}
				<a href="{{source.actionUrl}}" class="fhb-sidekick__cta">{{#if source.actionLabel}}{{source.actionLabel}}{{else}}View{{/if}}</a>
			{{/if}}
		</div>
	</div>
<!--/div-->
